<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/movies/edit/<%= pelicula.id %>?_method=PUT" method="POST">
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" 
            value="<%= locals.oldData ? oldData.titulo : pelicula.title %>">
						<!-- Validacion -->
						<% if (locals.errors && errors.titulo){ %>
							<p class="alertError"><%= errors.titulo.msg %> </p>
							<% } %>
        </div>
        <div>
            <label for="premio">Premios</label>
            <input type="text" name="premio" 
            value="<%= locals.oldData ? oldData.premio : pelicula.awards %>">
            <!-- Validacion -->
            <% if (locals.errors && errors.premio){ %>
                <p class="alertError"><%= errors.premio.msg %> </p>
                <% } %>
        </div>
        <div>
            <label for="titulo">Fecha de estreno</label>
            <input type="date" name="fechaEstreno">
        </div>
        <div>
            <label for="">Genero</label>
                <select name="genero">
                    <option></option>
                    <% for(let i=0; i < generos.length; i++) { %>
                        <% if (generos[i].id == pelicula.genre_id) { %><!-- para seleccionar el genero que tiene -->
                            <option value="<%= generos[i].id %>" selected>
                            <%= generos[i].name %>
                            </option>
                        <% } else { %>
                            <option value="<%= generos[i].id %>">
                            <%= generos[i].name %>
                            </option>>
                        <% } %>
                    <% } %>
                </select>
                <!-- Validacion -->
                <% if (locals.errors && errors.genero){ %>
                    <p class="alertError"><%= errors.genero.msg %> </p>
                    <% } %>
                <!-- Validacion -->
        </div>
        <div>
            <label for="titulo">Duración</label>
            <input type="text" name="duracion" 
            value="<%= locals.oldData ? oldData.duracion : pelicula.length %>">
						<!-- Validacion -->
						<% if (locals.errors && errors.duracion){ %>
							<p class="alertError"><%= errors.duracion.msg %> </p>
							<% } %>
        </div>
        <div>
            <label for="titulo">Rating</label>
            <input type="text" name="rating" 
            value="<%= locals.oldData ? oldData.rating : pelicula.rating %>">
						<!-- Validacion -->
						<% if (locals.errors && errors.rating){ %>
							<p class="alertError"><%= errors.rating.msg %> </p>
							<% } %>
        </div>
        <button type="submit" >Editar</button>
    </form>
</body>
</html>