<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= pelicula.title %></h1>
    <h2>Premios:<%= pelicula.awards %></h2>
    <h2>Fecha: <%= pelicula.release_date %></h2>
    <% if (pelicula.genero.name) { %>
                <h2>Genero: <%= pelicula.genero.name %></h2>
            <% }else{ %>
                <h2>Genero: No tiene genero asignado %></h2>
        <% } %>
    <h2>Duración: <%= pelicula.length %></h2>
    <h2>Rating: <%= pelicula.rating %></h2>
    <h2>Actores</h2>
    <ul>
        <% for(i=0;i < pelicula.actores.length; i++) { %>
            <li>
                <%= pelicula.actores[i].first_name %> <%= pelicula.actores[i].last_name %>
            </li>
        <% } %>
    </ul>
    <form action="/movies/delete/<%= pelicula.id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE</button>
    </form>
    <form action="/movies/edit/<%= pelicula.id %>" method="get">
        <button type="submit">EDITAR</button>
    </form>
</body>
</html>