<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/movieCreate.css" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <%- include('parcials/header.ejs') %>
    <main class="content-main">
        <form action="/movies/create" method="POST">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo"
                value="<%= locals.oldData ? oldData.titulo : null %>">
                            <!-- Validacion -->
                            <% if (locals.errors && errors.titulo){ %>
                                <p class="alertError"><%= errors.titulo.msg %> </p>
                                <% } %>
            </div>
            <div>
                <label for="premio">Premios</label>
                <input type="text" name="premio"
                value="<%= locals.oldData ? oldData.premio : null %>">
                            <!-- Validacion -->
                            <% if (locals.errors && errors.premio){ %>
                                <p class="alertError"><%= errors.premio.msg %> </p>
                                <% } %>
            </div>
            <div>
                <label for="fechaEstreno">Fecha de estreno</label>
                <input type="text" name="fechaEstreno">
            </div>
            <div>
                <label for="">Genero</label>
                    <select name="genero">
                        <% for(i=0; i < generos.length; i++) {%>
                            <option value="<%= generos[i].id %>">
                                <%= generos[i].name %>
                            </option>
                        <% } %>
                    </select>
            </div>
            <div>
                <label for="duracion">Duración</label>
                <input type="text" name="duracion"
                value="<%= locals.oldData ? oldData.duracion : null %>">
                <!-- Validacion -->
                <% if (locals.errors && errors.duracion){ %>
                    <p class="alertError"><%= errors.duracion.msg %> </p>
                    <% } %>
            </div>
            <div>
                <label for="rating">Rating</label>
                <input type="text" name="rating"
                value="<%= locals.oldData ? oldData.rating : null %>">
                <!-- Validacion -->
                <% if (locals.errors && errors.rating){ %>
                    <p class="alertError"><%= errors.rating.msg %> </p>
                    <% } %>
            </div>
            <div>
                <label for="">Actores: </label>
                    
                        <% for(i=0; i < actores.length; i++) {%>
                            <input type="checkbox" value="actor"> <%= actores[i].first_name %></input>
                        <% } %>
                        <a href="#">Crear Nuevo Actor</a>
            </div>
            <button type="submit" >Enviar</button>
    </main>
</body>
</html>